# importing pandas

In [2]:
import pandas as pd

# opening Local csv file

In [4]:
df = pd.read_csv('StudentPerformance.csv')

In [7]:
df.sample(5)

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
5517,5,67,Yes,6,1,54.0
7285,3,98,No,9,6,81.0
5700,1,44,No,4,8,18.0
5569,4,62,No,4,3,44.0
3680,6,58,Yes,6,8,46.0

# opening csv from URL

import requests
from io import StringIO
url=""
headers = {"User-Agent": ""}
req = requests.get(url, headers = headers)
data = StringIO(req.text)
od.read_csv(data)

# 4. seperate parameter

when dealing with tsv files:(tsv= tab seperated values)

pd.read_csv('StudentPerformance.tsv', sep = '\t')