In [12]:
import pandas as pd
import requests

response = requests.get(
    'https://api.themoviedb.org/3/movie/top_rated',
    params={
        'api_key': '8265bd1679663a7ea12ac168da84d2e8',
        'language': 'en-US',
        'page': 1
    }
)

temp_df = pd.DataFrame(response.json()['results'])[
    ['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']
]

temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,35.5204,8.714,29375
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,40.0605,8.686,22162
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,15.4061,8.571,13398
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,14.1582,8.566,16914
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,11.1575,8.548,9586